/*======================================================================================
----------------------------------start-header-part------------------------------------
=======================================================================================*/
@media(max-width:768px) {
    header {
        padding-top: 50px 0;
    }

    ul {
        padding-top: 10px;
    }


    .my-5 {
        margin-top: 5rem !important;
    }
}

@media(max-width:555px) {


    .my-5 {
        margin-top: 1rem !important;
    }
}

@media(max-width:480px) {

    .pb-5,
    .py-5 {
        margin-top: 5rem !important;
    }
}

@media(max-width:320px) {

    .mt-5,
    .my-5 {
        padding-bottom: 0rem !important;
    }
}

/*===================================================================================
----------------------------------end-header-part------------------------------------
=====================================================================================*/


/*==================================================================================
----------------------------------start-cab-part------------------------------------
===================================================================================*/

@media(max-width:320px) {
    .cab form {
        margin: auto;
    }

}

@media(max-width:1199px) {
    .card-star img {
        margin-left: 217px;
    }

    h2.text-darks.font-weight-bold.text-uppercase.mb-3 {
        font-size: 29px;
    }
}

@media(max-width:991px) {
    .card-star img {
        margin-left: 616px;
    }
}


/*================================================================================
----------------------------------end-cab-part------------------------------------
=================================================================================*/

@media(max-width:991px) {
    .contant {
        min-height: 1085px;
    }

}


/*================================================================================
----------------------------------end-cab-part------------------------------------
==================================================================================*/

@media(max-width:991px) {
    .servies-img {
        padding-top: 99px;
    }

}

/*================================================================================
----------------------------------beutiy-part------------------------------------
==================================================================================*/
@media(max-width:991px) {
    .meetPart .meetIconPart {
        display: inline-block;
        margin-left: -50px;
        padding: 20px 0
    }
}



/*================================================================================
----------------------------------portfolioPart------------------------------------
==================================================================================*/

@media(max-width:991px) {
    .protfolio .portfolioImg{
        
        
    }
}
